* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Poppins', 'Proxima', 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 10px 150px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  #logo-name {
    color: black;
    font-weight: 700;
  }
  
  .menu-toggle {
    margin-top: 5px;
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle img {
    height: 30px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item {
    position: relative;
    margin-left: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    padding: 8px;
    position: relative;
    display: inline-block;
  }
  
  .nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav-item a:hover::after {
    width: 100%;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  

.main-container {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
   
}

.article a{
    text-decoration: none;
    color: black;
}

.form-search {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.form-search h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.form-search input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submit_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5a5f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #e04e4d;
}

.public{
  display: flex;
  justify-content: flex-end;
  
}
.public img{
  margin-left: 5px;
}

.public p{
  font-weight: 600;
}


.post-search{
    display: block; 
    width: 100%;
    flex: 1;
    height: 100px;  
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;  
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        left: 0px;
        position: absolute;
        top: 50px;
        background-color:  #ff5a5f;
    }

    .navbar-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    }

    .main-container {
        padding: 10px;
    }

    .form-search {
        width: 100%;
    }

    .posts {
        width: 100%;
    }

   
}
